<h2>Demande a new Leave </h2>
<h5>Please don't stay too long we miss You !</h5><br>
<div class="flex-parent-element">
  <div class="flex-child-element ">
    <mat-form-field appearance="outline">
      <mat-label>Select Start Date</mat-label>
        <input matInput [matDatepicker]="start_date" [(ngModel)]="selected_start_date">
        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
        <mat-datepicker #start_date></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="flex-child-element ">
    <mat-form-field appearance="outline">
      <mat-label>Select End Date</mat-label>
        <input matInput [matDatepicker]="end_date" [(ngModel)]="selected_end_date">
        <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
        <mat-datepicker #end_date></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label>Select a Leave Type</mat-label>
      <mat-select [(ngModel)]="selected_leave_type">
        <mat-option *ngFor="let leave of Leave_Type" [value]="leave.value">
          {{leave.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div class="flex-parent-element">
  <div class="flex-child-element ">
    <button mat-stroked-button color="warn"> Cancel</button>
  </div>

  <div class="flex-child-element ">
    <button mat-stroked-button color="primary" (click)="Submit()">Save</button>
  </div>
</div>
