button{
    width: 98%;
}

mat-form-field{
    width: 98%;
}
h2{
    color: rgb(14, 76, 192);
}
h2,h6{
    text-align: center;
    letter-spacing: 2px;
}

.flex-parent-element {
    display: flex;
}
  
.flex-child-element {
    flex: 1;
}
