<mat-card class="login_card">
    <h2>Welcome to Insite </h2>
    <h5>Your Leave will always be accepted.</h5>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" >
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="form.get('email').hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="form.get('password').hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
      <button mat-raised-button color="primary" (click)="Submit()">Log In</button>
    </form>
</mat-card>
