.login_card{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width:70vh;
    transform: translate(-50%, -50%);
}

form{
    width: 100%;
}

button,mat-form-field{
    width: 100%;
}

h2,h5{
    text-align: center;
    letter-spacing: 2px;
}