.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

h5{
    text-align: center;
    letter-spacing: 1px;
}

span{
    color: rgb(14, 76, 192);
}

.heart{
    color: rgb(216, 32, 32);
}